body{
font-family: Georgia, serif;
background:#f3f3f3;
margin:0;
padding:0;
}

.container{
max-width:900px;
margin:auto;
background:white;
padding:40px;
margin-top:40px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

h1{
text-align:center;
margin-bottom:30px;
}

.btn{
display:inline-block;
margin-top:25px;
padding:10px 20px;
background:#b08d57;
color:white;
text-decoration:none;
border-radius:6px;
}
